html {
    font-family: cinzel;
    background-image: url('https://www.kibrispdr.org/data/wallpaper-cv-11.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: fixed;
}

@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cinzel/v11/8vIU7ww63mVu7gtR-kwKxNvkNOjw-tbnfY3lDQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

a {
    text-decoration: none;
}

.btn {
    width: 120px;
}

.sites a {
    display: block;
    width: 30%
}


.site-head {
    text-align: left;
}

nav {
    width: 100%;
    height: 10%;
}

.nav a {
    text-align: center;
    display: inline-block;
    margin: auto;
}

.site-head ul {
    margin: auto;
    float: left
}


.instagram-logo {
      width: 30px;
      height: 30px;
}

.twitter-logo {
      width: 32px;
      height: 32px;
}

.facebook-logo {
      width: 30px;
      height: 30px;
}

.gmail-icon {
      width: 30px;
      height: 30px;
}

.whatsapp-logo {
      width: 40px;
      height: 30px;
}

.contact1 {
    text-align: left;
    margin: auto;
}

.selfie {
    width: 187px;
    height: 383px;
    margin: auto;
}

@media screen and (max-width: 760px) {
    html {
        text-align: center;
    }
    
    .sites a {
        display: block;
        width: 40%;
        margin-left: 27.5%;
    }

    .column1 { 
        width: 100% !important;
        margin: auto;
    }
    
    .column2 {
        width: 100% !important;
        margin: auto;
    }

    .column3 {
        width: 100% !important;
        margin: auto;
    }
    
    .column4 {
        width: 100% !important;
        margin: auto;
    }

    .contact1 {
        text-align: center;
    }
}

@media screen and (min-width: 760px) {
    .column1 {
        float: left;
        width: 50%;
        margin-top: 2.5%;
    }
    
    .column2 {
        float: right;
        width: 50%;
        margin: auto;
    }
    
    .column3 {
        float: left;
        width: 25%;
        margin: auto;
    }
    
    .column4 {
        float: right;
        width: 25%;
        margin: auto;
    }
    
    .selfie {
        width: 187px;
        height: 383px;
        margin-left: 25%;
    }   
}
